a {
    cursor: pointer;
}

.grid-10 {
    width: 10%;
    float: left;
}

.front-event img {
    position: relative;
    margin-top:24px;
    height:70px;
}

.hero-unit {
    background-image: url('collage.jpg');
    background-size: cover;
}

.hero-unit h1, .hero-unit p {
    background-color: #999;
}
